.movies-list {
  list-style-type: none;
  padding-left: 0;
}
ul{
  align-: center;
}

li {
  margin-top: 5px;
  border-radius: 5px;
  margin-left: 60px;
  margin-right: 60px;
  text-decoration: none;
  text-decoration-line: none;
  padding-top: 5px;
  padding-bottom: 5px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 3.6px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
li:hover {
  background-color: rgb(163, 79, 241);
  transition: 0.4s;
  color: white;
}
li:action {
  background-color: red;
}